cluster.name: "{{ os_cluster_name }}"
node.name: "{{ inventory_hostname }}"
network.host: "{{ os_api_ip }}"
http.port: "{{ os_api_port }}"
discovery.type: single-node
bootstrap.memory_lock: true

plugins.security.disabled: "{{ os_disable_security }}"